<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ecokids</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/Ranking.css' %}" />
  <link rel="shortcut icon" href="{% static 'img/EcoKids-Logo.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com" /> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;700&display=swap" rel="stylesheet" /> -->
  <script defer src="{% static 'js/Ranking.js' %}"></script>
</head>

<body>

  <div class="menu-superior">
    <div>
      <a href="{% url 'EcoKids_Integracao:HomePage' %}"><img class="EcoKids-Logo img-fluid" src="{% static 'img/EcoKids-Logo.png' %}" alt="EcoKids-Logo"></a>
    </div>
    <div class="barra">
      <div class="barra-colorida " style="background-color: rgba(134, 200, 154, 1);">
        <a class="fontebarra" href="#materiais">Materiais</a>
      </div>
      <div class="barra-colorida " style="background-color: rgba(245, 101, 124, 1);"><a class="fontebarra" href="{% url 'EcoKids_Integracao:Mural' %}">Mural</a></div>
      <div class="barra-colorida " style="background-color: rgba(99, 189, 211, 1);"><a href="{% url 'EcoKids_Integracao:ToDoList' %}">Metas</a></div>
      <div class="barra-colorida " style="background-color: rgb(81, 235, 76);"><a href="{% url 'EcoKids_Integracao:Ranking' %}">Ranking</a></div>
      <div class="barra-colorida " style="background-color: rgba(201, 133, 242, 1);"><a href="{% url 'EcoKids_Integracao:QuemSomos' %}">Sobre nós</a></div>
      <div class="barra-colorida " style="background-color: rgba(9, 208, 168, 1);"><a href="{% url 'EcoKids_Integracao:Login' %}">Login</a></div>
      <div class="barra-colorida " style="background-color: rgba(235, 185, 76, 1);"><a href="{% url 'EcoKids_Integracao:Login' %}" id="logout_button">Sair</a></div>
    </div>
    <div>
      <p style="color: black;" id="avatar_url_placeholder"></p>
      <img src="" alt="Avatar do usuário" class="img-fluid" id="avatar_image" style="width: 2000; height: 100px;">
    </div>
  </div>
  <div class="container">
    <!-- <header></header> -->
    <main>
      <h4 class="titulo">RANKING</h4>
      <div class="podium">
        <ul>
          <li>
            <span>1</span>
            <img id="crown" src="{% static 'img/crown.svg' %}" alt="coroa" />
            <img data-avatar-podium src="{% static 'img/default-avatar.png' %}" alt="1° lugar" />
            <p data-name-podium>-</p>
            <span data-revenue-podium class="revenue">-</span>
          </li>
          <li data-aos="flip-right">
            <span>2</span>
            <img data-avatar-podium src="{% static 'img/default-avatar.png' %}" alt="2° lugar" />
            <p data-name-podium>-</p>
            <span data-revenue-podium class="revenue">-</span>
          </li>
          <li data-aos="flip-right">
            <span>3</span>
            <img data-avatar-podium src="{% static 'img/default-avatar.png' %}" alt="3° lugar" />
            <p data-name-podium>-</p>
            <span data-revenue-podium class="revenue">-</span>
          </li>
        </ul>
      </div>
    </main>
    <section>
      <span>O ranking é atualizado a cada 1 minuto.</span>
      <ul data-aos="fade-right">
        <li>
          <span>1</span>
          <img data-avatar src="{% static 'img/default-avatar.png' %}" alt="" />
          <p data-name>-</p>
          <span data-revenue class="revenue">-</span>
        </li>
        <li>
          <span>2</span>
          <img data-avatar src="{% static 'img/default-avatar.png' %}" alt="" />
          <p data-name>-</p>
          <span data-revenue class="revenue">-</span>
        </li>
        <li>
          <span>3</span>
          <img data-avatar src="{% static 'img/default-avatar.png' %}" alt="" />
          <p data-name>-</p>
          <span data-revenue class="revenue">-</span>
        </li>
        <li>
          <span>4</span>
          <img data-avatar src="{% static 'img/default-avatar.png' %}" alt="" />
          <p data-name>-</p>
          <span data-revenue class="revenue">-</span>
        </li>
        <li>
          <span>5</span>
          <img data-avatar src="{% static 'img/default-avatar.png' %}" alt="" />
          <p data-name>-</p>
          <span data-revenue class="revenue">-</span>
        </li>
      </ul>
    </section>
  </div>



  <img src="{% static 'img/nuvem-top-white.png' %}" alt="nuvem" class="nuvem-green">
  <div class="rodape">
    <div>
      <img class="EcoKids-Logo img-fluid" src="{% static 'img/EcoKids-Logo.png' %}" alt="EcoKids-Logo">
    </div>
    <div class="rodape-content">
      <div>
        <h5>SOBRE NÓS</h5>
        <a href="{% url 'EcoKids_Integracao:QuemSomos' %}">
          <H6>QUEM SOMOS</H6>
      </div>
      <!-- <div>
        <h5>SOBRE NÓS</h5>
        <a href="{% url 'EcoKids_Integracao:Personagem' %}">
          <H6>Personagem</H6>
        </a>
      </div>
      <div> -->
      <h5>ATENDIMENTO</h5>
      <!-- <a href="{% url 'EcoKids_Integracao:QuemSomos' %}"> -->
      <H6>81 9999999</H6>
      </a>
    </div>
  </div>
  </div>
  <img src="{% static 'img/nuvem-bottom.png' %}" alt="nuvem" class="nuvem-bottom">

  <script src="{% static 'js/Ranking-animacao.js' %}"></script>
  <script nonce="{{ nonce }}">
    AOS.init({
      duration: 1000,
      once: true,
    });
  </script>
  <script nonce="{{ nonce }}">
    var staticUrl = "{% static '' %}";
  </script>
  <script src="{% static 'js/logout.js' %}" nonce="{{ nonce }}"></script>
</body>

</html>