<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ToDoList.css' %}">
    <link rel="shortcut icon" href="{% static 'img/EcoKids-Logo.png' %}" type="image/x-icon">
    <title>EcoKids</title>
</head>
<body>
    <div class="menu-superior">
        <div>
          <a href="{% url 'EcoKids_Integracao:Login' %}"><img class="EcoKids-Logo img-fluid" src="{% static 'img/EcoKids-Logo.png' %}" alt="EcoKids-Logo"></a>
        </div> 
        <div class="barra">
          <div class="barra-colorida " style="background-color: rgba(134, 200, 154, 1);">Materiais</div>
          <div class="barra-colorida " style="background-color: rgba(245, 101, 124, 1);">Mural</div>
          <div class="barra-colorida " style="background-color: rgba(235, 185, 76, 1);">Ranking</div>
          <div class="barra-colorida " style="background-color: rgba(99, 189, 211, 1);"><a href="{% url 'EcoKids_Integracao:ToDoList' %}">Metas</a></div>
          <div class="barra-colorida " style="background-color: rgba(201, 133, 242, 1);"><a href="{% url 'EcoKids_Integracao:QuemSomos' %}">Sobre nós</a></div>
          <div class="barra-colorida " style="background-color: rgba(9, 208, 168, 1);"><a href="{% url 'EcoKids_Integracao:Login' %}">Login</a></div>
          <div class="barra-colorida " style="background-color: rgba(255, 101, 79, 1);"></div>
        </div>
        <div>
            <img src="{% static 'img/pesquisar-logo.png' %}" alt="pesquisar-logo" class="img-fluid">
        </div>
      </div>
      <div class="fundo-verde">
        <h1>
            METAS DO DIA
        </h1>
      </div>
      <div>
          <h4>
            Complete as metas do dia para conseguir pontos e ajudar o meio ambiente!
          </h4>
              <h1>To Do List | EcoKids</h1>
      </div>
    <div class="content">
        <div class="content--add-item">
            <input type="text" id="input-new-task" placeholder="Digite sua nova task">
            <button onclick="newTask()" id="btn-new-task" title="Clique aqui para adicionar uma nova task">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
            </button>
        </div>
        <div class="content--body">
            <ol id="to-do-list">
            </ol>
        </div>
        <div>
            <h4>Você consegue!</h4>
        </div>
    </div>
    <img src="{% static 'img/nuvem_green_blue.png' %}" alt="nuvem" class="nuvem-green">
    <div class="rodape">
      <div>
        <!-- <img class="EcoKids-Logo img-fluid" src="/EcoKids/EcoKids_Integracao/static/img/EcoKids-Logo.png" alt="EcoKids-Logo">  -->
        <img class="EcoKids-Logo img-fluid" src="{% static 'img/EcoKids-Logo.png' %}" alt="EcoKids-Logo"> 
      </div>
      <div class="rodape-content">
      <div>
        <h5>SOBRE NÓS</h5>
        <a href="{% url 'EcoKids_Integracao:QuemSomos' %}">
         <H6>QUEM SOMOS</H6>
      </div>
        <div>
          <h5>SOBRE NÓS</h5>
          <a href="{% url 'EcoKids_Integracao:Personagem' %}">
            <H6>Personagem</H6>
          </a>
        </div>
        <div>
          <h5>ATEDIMENTO</h5>
          <!-- <a href="{% url 'EcoKids_Integracao:QuemSomos' %}"> -->
            <H6>81 9999999</H6>
          </a>
        </div>
      </div>
    </div>
    <img src="{% static 'img/nuvem-bottom.png' %}" alt="nuvem" class="nuvem-bottom">
</body>
<script src="{% static 'js/TodoList.js' %}"></script>
</html>