<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/ToDoList.css' %}">
  <link rel="shortcut icon" href="{% static 'img/EcoKids-Logo.png' %}" type="image/x-icon">
  <title>EcoKids</title>
</head>

<body>
  <div class="menu-superior">
    <div>
      <a href="{% url 'EcoKids_Integracao:HomePage' %}"><img class="EcoKids-Logo img-fluid" src="{% static 'img/EcoKids-Logo.png'  %}" alt="EcoKids-Logo"></a>
    </div>
    <div class="barra">
      <div class="barra-colorida " style="background-color: rgba(134, 200, 154, 1);">
        <a class="fontebarra" href="{% url 'EcoKids_Integracao:HomePage' %}#materiais">Materiais</a>
      </div>
      <div class="barra-colorida " style="background-color: rgba(245, 101, 124, 1);"><a href="{% url 'EcoKids_Integracao:Mural' %}">Mural</a></div>
      <div class="barra-colorida " style="background-color: rgba(235, 185, 76, 1);"><a href="{% url 'EcoKids_Integracao:Login' %}">Sair</a></div>
      <div class="barra-colorida " style="background-color: rgba(99, 189, 211, 1);"><a href="{% url 'EcoKids_Integracao:ToDoList' %}">Metas</a></div>
      <div class="barra-colorida " style="background-color: rgba(201, 133, 242, 1);"><a href="{% url 'EcoKids_Integracao:QuemSomos' %}">Sobre nós</a></div>
      <div class="barra-colorida " style="background-color: rgba(9, 208, 168, 1);"><a href="{% url 'EcoKids_Integracao:Login' %}">Login</a></div>
    </div>
    <div>
      <p style="color: black;" id="avatar_url_placeholder"></p>
      <img src="" alt="Avatar do usuário" class="img-fluid" id="avatar_image">
    </div>
  </div>
  <div class="fundo-verde">
    <h1>
      METAS DO DIA
    </h1>
  </div>
  <div>
    <h4>
      Complete as metas do dia para ajudar o meio ambiente!
    </h4>
    <h4>
      Você consegue!
    </h4>
  </div>

  <div class="content">
    <div class="checkbox">
      {% for tarefa in tarefas %}
      <div class="checkbox-item">
        <input type="checkbox" id="meta_{{ tarefa.id }}" {% if tarefa.realizada %} checked {% endif %}>
        <label for="meta_{{ tarefa.id }}">{{ tarefa.descricao }}</label>
      </div>
      {% endfor %}
    </div>
  </div>

  <img src="{% static 'img/nuvem-top-white.png' %}" alt="nuvem" class="nuvem-green">
  <div class="rodape">
    <div>
      <img class="EcoKids-Logo img-fluid" src="{% static 'img/EcoKids-Logo.png'  %}" alt="EcoKids-Logo">
    </div>
    <div class="rodape-content">
      <div>
        <h5>SOBRE NÓS</h5>
        <H6>QUEM SOMOS</H6>
      </div>
      <!-- <div>
        <h5>SOBRE NÓS</h5>
        <H6>QUEM SOMOS</H6>
      </div> -->
      <div>
        <h5>ATENDIMENTO</h5>
        <H6>QUEM SOMOS</H6>
      </div>
    </div>
  </div>
  <img src="{% static 'img/nuvem-bottom.png' %}" alt="nuvem" class="nuvem-bottom">
  <script src="{% static 'js/TodoList.js' %}"></script>
  <script>
    var staticUrl = "{% static '' %}";
  </script>
</body>

</html>