@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.menu-superior {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
  animation: fadeInDown 1s ease-out;
  color: white;
}

.barra {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 42px;
  justify-self: center;
}

body {
  background-color: #ffffff; /* Cor de fundo do modo claro */
  color: #000000; /* Cor do texto do modo claro */
}

body.dark-mode {
  background-color: #000000; /* Cor de fundo do modo escuro */
  color: #ffffff; /* Cor do texto do modo escuro */
}

.barra-colorida {
  width: 33%;
  border-radius: 29px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
  padding-top: 10px;
  transition: width 0.3s ease, background-color 0.3s ease;
  text-decoration-color: white;
  height: 90%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.barra-colorida:hover {
  width: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: white;
}

.barra-colorida a {
  text-decoration: none;
  color: white;
}

.grid-produtos {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100vw;
  column-gap: 3%;
}

.carrousel img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.item-grid {
  width: 30vw;
  column-gap: 3%;
  line-height: 1;
  border: 2px solid rgba(99, 189, 211, 1);
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.nome {
  text-align: center;
  margin-left: 50%;
  justify-content: center;
  margin-top: 3%;
}

.endereco {
  display: grid;
  border: 2px solid rgba(99, 189, 211, 1);
  border-radius: 6px;
  padding: 3% 2%;
  margin-top: 3%;
  height: 85%;
  text-align: justify;
}

.descricao-produto {
  text-align: justify;
}
.descricao-produto h4 {
  margin: 2% 0;
  text-align: center;
}

.imgcrianca {
  border-radius: 10%;
}

.rodape {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
  height: 200px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  background-color: rgba(99, 189, 211, 1);
  column-gap: 40px;
  padding-top: 20px;
  margin-top: -10px;
  position: relative;
}
.rodape > div > img {
  border-radius: 50%;
}
.rodape-content {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.nuvem-bottom {
  height: 100%;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.nuvem-green {
  height: 100%;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.rodape-content h5 {
  color: white;
  font-size: 12px;
}

.rodape-content h6 {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

a {
  text-decoration: none;
}

@media (max-width: 900px) {
  .menu-superior {
    margin: 0 5%;
  }
  .barra {
    width: 40%;
    height: 20px;
  }
  .img-fluid {
    width: 40%;
    height: 100%;
  }

  h1 {
    font-size: large;
  }
  .cards {
    grid-template-columns: auto auto;
  }
  .cards-content {
    height: 200px;
    width: 70%;
    justify-self: center;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
