@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.menu-superior {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
  animation: fadeInDown 1s ease-out;
  color: white;
}

.barra {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 42px;
  justify-self: center;
}
.barra-colorida {
  width: 33%;
  border-radius: 29px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
  padding-top: 10px;
  transition: width 0.3s ease, background-color 0.3s ease;
  text-decoration-color: white;
  height: 90%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.barra-colorida:hover {
  width: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: white;
}

.barra-colorida a {
  text-decoration: none;
  color: white;
}

#banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  animation: fadeInUp 1s ease-out;
}
.img-fluid {
  object-fit: cover;
}

span {
  color: rgba(255, 5, 45, 1);
}

h1 {
  color: rgba(0, 152, 121, 1);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 30px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 20px;
}

.cards-content {
  height: 300px;
  background-color: rgb(248, 248, 248);
  border-radius: 44px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.cards-content:hover {
  transform: scale(1.05);
}

.bg-image-1 {
  background-image: url("../img/criancasreciclagem.webp");
}

.bg-image-2 {
  background-image: url("../img/iStock-505945982.webp");
}

.bg-image-3 {
  background-image: url("../img/original-8c54fc879e441b9122231cc6c33991dd-1080x675.webp");
}

.bg-image-4 {
  background-image: url("../img/natureza-que-educa-1.webp");
}

.bg-image-5 {
  background-image: url("../img/menina-regando-flores.webp");
}

.bg-image-6 {
  background-image: url("../img/unnamed.webp");
}

.bg-image-7 {
  background-image: url("../img/estrela.png");
}

.bg-image-8 {
  background-image: url("../img/alvo.png");
}

.bg-image-9 {
  background-image: url("../img/comentario.png");
}
.fundo-verde {
  background-image: url("../img/fundo-verde.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -130px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.fundo-verde > h1 {
  color: white;
}
.image-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -2660px;
  /*bottom: -980px;*/ /* live server */
  overflow: hidden;
}
.image-container img {
  margin-left: -200px;
  margin-right: -200px;
  height: auto;
  object-fit: cover;
}

.link-container {
  text-align: center; /* Centraliza horizontalmente /
  height: 100vh; / Altura total da viewport */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.rodape {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
  height: 200px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  background-color: rgba(99, 189, 211, 1);
  column-gap: 40px;
  padding-top: 20px;
  margin-top: -10px;
  position: relative;
}
.rodape > div > img {
  border-radius: 50%;
}
.rodape-content {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.flores {
  /* background-image: url(../img/Flores.png); */
  background-size: cover;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.nuvem-bottom {
  height: 100%;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.nuvem-green {
  height: 100%;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}

h5 {
  color: white;
}

h6 {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

@media (max-width: 900px) {
  .menu-superior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    animation: fadeInDown 1s ease-out;
    color: white;
  }
  .barra {
    width: 100%;
    height: 20px;
  }
  .img-fluid {
    width: 40%;
    height: 100%;
  }

  h1 {
    font-size: large;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .cards-content {
    height: 200px;
    width: 70%;
    justify-self: center;
  }
  .fontehome {
    font-size: smaller;
  }
  .barra-colorida {
    width: 33%;
    border-radius: 29px;
    text-align: center;
    padding-top: 10px;
    transition: width 0.3s ease, background-color 0.3s ease;
    text-decoration-color: white;
    height: 90%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }
  .bg-image-1 {
    display: block;
  }
  a {
    margin: 0;
    padding: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
