@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #03b169;
  border-radius: 10px;
}

.menu-superior {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
  animation: fadeInDown 1s ease-out;
  color: white;
}

.barra {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 42px;
  justify-self: center;
}
.barra-colorida {
  width: 33%;
  border-radius: 29px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
  padding-top: 10px;
  transition: width 0.3s ease, background-color 0.3s ease;
  text-decoration-color: white;
  height: 90%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.barra-colorida:hover {
  width: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: white;
}

.barra-colorida a {
  text-decoration: none;
  color: white;
}

.titulo,
.subtitulo {
  text-align: center;
  margin-bottom: 30px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.formulario {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 70%;
  margin-bottom: 20px;
}

.formulario-container {
  position: relative;
  left: 50%;
  transform: translateX(-72%);
  top: 0;
  z-index: 1;
  width: 70%;
}

.formulario button {
  background-color: rgb(129, 6, 160);
  padding: 15px 60px;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #fff;
}

.formulario textarea {
  height: 100px;
}

.comentario {
  font-size: 16px;
  background-color: rgba(134, 200, 154, 1);
  padding: 10px;
  top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 700px;
  word-wrap: break-word;
}

.comentario-invalido {
  padding: 5px 0;
  border: solid 1px red;
}

.texto-invalido {
  color: red;
  font-size: 12px;
  margin: 5px 0 0 0;
}

.rodape {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
  height: 200px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  background-color: rgba(99, 189, 211, 1);
  column-gap: 40px;
  padding-top: 20px;
  margin-top: -10px;
  position: relative;
}
.rodape > div > img {
  border-radius: 50%;
}
.rodape-content {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.flores {
  /* background-image: url(../img/Flores.png); */
  background-size: cover;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.nuvem-bottom {
  height: 100%;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.nuvem-green {
  height: 100%;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.rodape-content h5 {
  color: white;
  font-size: 12px;
}

.rodape-content h6 {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

a {
  text-decoration: none;
}

@media (max-width: 730px) {
  .menu-superior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    animation: fadeInDown 1s ease-out;
    color: white;
  }
  .barra {
    width: 100%;
    height: 20px;
  }
  .img-fluid {
    width: 40%;
    height: 100%;
  }

  h1 {
    font-size: large;
  }
  .cards {
    grid-template-columns: auto auto;
  }
  .cards-content {
    height: 200px;
    width: 70%;
    justify-self: center;
  }
  .comentario {
    font-size: 16px;
    background-color: rgba(134, 200, 154, 1);
    width: 100%;
    word-wrap: break-word;
  }
  .fundo {
    width: 100%;
    height: 20%;
    background-color: rgba(9, 208, 168, 1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formulario button {
    /* font-size: 10px; */
    width: 100%;
    justify-content: center;
    padding: 15px 60px;
    box-sizing: border-box;
  }
}

@media (max-width: 400px) {
  .formulario-button {
    /* font-size: 10px; */
    width: 10px;
    justify-content: center;
    box-sizing: border-box;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .fundo {
  width: 100%;
  height: 200px;
  background-color: rgba(201, 133, 242, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
} */

.fundo {
  width: 100%;
  height: 200px;
  background-color: rgba(9, 208, 168, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container-button {
  background-color: rgb(129, 6, 160);
  padding: 0;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}

#todos-os-comentarios {
  max-width: 100%;
  padding: 10px;
}
