@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.menu-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
}

.barra {
  display: flex;
  flex-direction: row;
  width: 33%;
  height: 42px;
  justify-self: center;
}
.barra-colorida {
  width: 33%;
  border-radius: 29px;
  margin-left: -20px;
  margin-right: -20px;
}

.fundo-verde {
  width: 100%;
  height: 300px;
  background-color: rgba(9, 208, 168, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  margin: 5% 5%;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.cards-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  background-color: gray;
  border-radius: 44px;
  width: 100%;
  overflow: hidden;
}

.cards-content img {
  max-width: 100%;
  max-height: 100%;
}

#card-tutu {
  background-color: rgba(255, 207, 202, 1);
}

#card-ale {
  background-color: rgba(151, 230, 250, 1);
}
#card-laurinha {
  background-color: rgba(57, 253, 213, 1);
}

#card-wesley {
  background-color: rgba(158, 218, 93, 1);
}

#card-rafa {
  background-color: rgba(250, 143, 203, 1);
}
.cards-meninos {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  justify-content: center;
  grid-template-rows: auto;
  gap: 30px;
  margin-left: 20.6%;
  margin-right: 20.6%;
  margin-top: 30px;
}

.rodape {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
  height: 300px;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  background-color: rgba(99, 189, 211, 1);
  column-gap: 40px;
  margin-top: 30px;
}
.rodape > div > img {
  border-radius: 50%;
}
.rodape-content {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}
