@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.menu-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
  animation: fadeInDown 1s ease-out;
  color: white;
}

.barra {
  display: flex;
  flex-direction: row;
  width: 53%;
  height: 42px;
  justify-self: center;
}
.barra-colorida {
  width: 33%;
  border-radius: 29px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
  padding-top: 10px;
  transition: width 0.3s ease, background-color 0.3s ease;
  text-decoration-color: white;
  height: 90%;
  text-shadow:  2px 2px rgba(0, 0, 0, 0.2)
}

.barra-colorida:hover {
  width: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: white;
}

.barra-colorida a {
  text-decoration: none;
  color: white;
}

.fundo-verde {
  width: 100%;
  height: 300px;
  background-color: rgba(9, 208, 168, 1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

 
:root{
    --color-dark: rgb(14, 14, 14);
    --color-dark2: rgb(32, 32, 32);
    --color-dark3: rgb(22, 22, 22);
    --color-white: #fff;
    --color-green: rgb(103, 195, 80);
    --color-green2: rgb(51, 149, 26);
    --color-red: rgb(184, 40, 35);
    --color-red2: rgb(146, 22, 17);
}

h1, h4{
    text-align: center;
    margin-top: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-family: 'Lato';
    background-color: rgba(250, 143, 203, 1);
    color: var(--color-white);
    align-items: center;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 23px;
    margin-bottom: 60px;
    height: 500px; 
    position: relative;
    /* width: 500px; */
    /*overflow-y: auto;*/ 
}


.checkbox{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.checkbox-item{
  display: flex; 
  align-items: center; 
  margin-bottom: 20px; 
}
.checkbox-item label {
  font-size: 22px;
  margin-left: 10px;
}

.checkbox-item input {
  width: 17px;
  height: 17px;
}

.estrela{
  width: 2px;
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  width: 50px; 
}


.rodape {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
  height: 200px;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  background-color: rgba(99, 189, 211, 1);
  column-gap: 40px;
  padding-top: 20px;
  margin-top: -10px;
  position: relative;
 
}
.rodape > div > img {
  border-radius: 50%;
}
.rodape-content {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}


.nuvem-bottom{
  height: 100%;
  background-size: cover; 
  width: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px; 
}

.nuvem-green{
  height: 100%; 
  background-size: cover; 
  width: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20px; 
}

h5{
  color: white;
}

h6{
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

@media (max-width: 900px) {
  .menu-superior {
    margin: 0 5%;
  }
  .barra {
    width: 40%;
    height: 20px;
  }
  .img-fluid {
    width: 40%;
    height: 100%;
  }

  h1 {
    font-size: large;
  }
  .cards {
    grid-template-columns: auto auto;
  }
  .cards-content {
    height: 200px;
    width: 70%;
    justify-self: center;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



